{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Live Chat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/chat/chat.css' %}">
</head>

<body>

	<div class="chatbox">

		<div class="btn-group-vertical" role="group">

			<button class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#chatboxCollapse">
				Messages
			</button>

			<div class="collapse" id="chatboxCollapse">

				<div class="messageBox" id="messages">
					<!-- Les messages sont affichés ici -->
				</div>

				<form id="form" class="btn-group">
					<input class="form-control" placeholder="Exprimez votre amour..." input="text" id="message" name="message" autocomplete="off">
					<button class="btn btn-secondary sendBtn" type="submit">Envoyer</button>
				</form>

			</div>

		</div>

	</div>

	<script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/chat/chat.js' %}"></script>

</body>
</html>
