@font-face
{
	font-family: 'Fugaz One';
	src: url('/static/fonts/FugazOne-Regular.ttf') format('truetype');
}

.tournament
{
	height: 800px;
	margin: 50px;
}

.tournament .globalRow
{
	height: 100%;
}

.tournament-bracket
{
	display: flex;
	flex-direction: column;
	height: 100%;
	background-color: rgb(24, 24, 24);
	border: 8px solid black;
	border: none;
	border-radius: 16px;
}

.tournament-bracket h2
{
	font-family: 'Fugaz One';
	font-size: 40px;
	color: #fefefe;
	text-align: center;
	margin: 20px;
}

.tournament-bracket .match
{
    display: flex;
    flex-direction: column;
	background-color: #f8b816;
	border: 6px solid #FFB800;
	font-family: 'Fugaz One';
	color: white;
    align-items: center;
	justify-content: space-around;
	height: 150px;
	min-width: 200px;
    margin: 20px;
	border-radius: 8px;
	box-shadow: 0 15px 20px black;
}

.tournament-bracket .vertical-line
{
    border-left: 2px solid rgb(24, 24, 24);
    height: 100px;
	margin-bottom: 10px;
}

.tournament-bracket hr
{
	border: 2px solid #FFB800;
	width: 100%;
}


.listContainer
{
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #FFB800;
	border: 8px solid black;
	border-radius: 16px;
	padding: 10px;
}

#createTournamentOverlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.75);
	z-index: 1050;
	justify-content: center;
	align-items: center;
  }
  
  #createTournamentOverlay .modal-dialog {
	max-width: 100%;
	margin: 0;
  }
  
  #createTournamentOverlay .modal-content {
	width: auto;
	padding: 1rem;
	border-radius: 0.5rem;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
	background-color: #5a2b00;
	color: white;
  }
  
  #createTournamentOverlay .modal-header {
	align-items: center;
	border-bottom: 1px solid #fff;
  }
  
  #createTournamentOverlay .modal-title {
	flex-grow: 1;
	text-align: center;
  }
  
  #createTournamentOverlay .modal-body {
	padding: 2rem;
  }
  
  #createTournamentOverlay .modal-footer {
	border-top: none;
  }
  
  #createTournamentOverlay .btn-close {
	display: none;
  }
  
  #createTournamentOverlay .form-label {
	font-weight: bold;
  }
  
  #createTournamentOverlay .btn {
	padding: 0.5rem 1rem;
	font-size: 1.2rem;
  }
  
  #createTournamentOverlay .form-control, 
  #createTournamentOverlay .form-select {
	background-color: #fff;
	color: #333;
	border-radius: 0.25rem;
	border: 1px solid #ccc;
  }
  