.gdpr
{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    background-color: rgb(24, 24, 24);
    margin-top: 30px;
    padding: 50px;
    border-radius: 20px;
}