.authForm
{
    width: 600px;
    border-radius: 15px;
    background-color: rgb(24, 24, 24);
    margin: 50px auto;
    padding: 20px;
	max-width: 100%;
}

.authForm .row
{
	justify-content: center;
	margin: 20px;
}

.authForm .form-control
{
	width: 400px;
	height: 50px;
	border-radius: 8px;
	box-sizing: border-box;
	max-width: 100%;
	min-width: 150px;
}

.authForm h1
{
	color: white;
	font-size: 46px;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-weight: bold;
}

.authForm input
{
	min-width: 50px;
	height: 50px;
	border-radius: 8px;
}

.authForm label
{
	color: white;
	font-size: 20px;
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
}

.authForm .primaryBtn
{
	background-color: #FFB800;
	width: 200px;
	height: auto;
	border: none;
	border-radius: 8px;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: black;
	/* margin: 40px; */
}

.authForm .primaryBtn:hover
{
	background-color: #FFD966; /* Change la couleur de fond au survol */
}

.authForm .secondaryBtn
{
	background-color: rgb(12, 12, 12);
	width: 200px;
	height: auto;
	border: none;
	color: white;
	font-size: 20px;
	/* margin: 40px; */
}

.authForm ::placeholder
{
	font-family: 'Courier New', Courier, monospace;
	font-size: 20px;
	font-weight: bold;
	text-overflow: ellipsis;
}

.authForm .oauthBtn
{
	display: flex;
	background-color: #FFB800;
	height: 50px;
	width: 250px;
	min-width: 150px;
	border-radius: 8px;
	justify-content: space-between;
	align-items: center;
	font-weight: bold;
	padding: 0%;
	border: none;
}

.authForm .oauthLogo
{
	height: 100%;
	padding: 5px;
	background-color: white;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}

.authForm .oauthText
{
	color: black;
	font-size: 16px;
	margin-right: 16px;
}

.authForm .oauthBtn:hover
{
	background-color: #FFD966; /* Change la couleur de fond au survol */
}
  
.authForm .oauthBtn:hover .oauthLogo
{
	background-color: #bfbfbf; /* Change la couleur de fond de l'image au survol */
}
  
.authForm .oauthBtn:hover .oauthText
{
	color: #333; /* Change la couleur du texte au survol */
}

.authForm hr
{
	border: 1px solid #FFB800;
}

.authForm .orText
{
	color: white;
	font-size: 20px;
}
  