@font-face
{
	font-family: 'Fugaz One';
	src: url('/static/fonts/FugazOne-Regular.ttf') format('truetype');
}

.home
{
	max-width: 100%;
	margin: 300px 100px;
}

.auth-btn
{
	/* margin: auto auto; */
    background-color: #FFB800;
	font-size: xxx-large;
	font-family: 'Fugaz One';
	border: 8px solid black;
    border-radius: 20px;
    transition: background-color 0.3s ease, border-radius 0.3s ease;
	padding: 20px;
}

.auth-btn:hover
{
    background-color: #ffc226;
    border-radius: 5px;
}

.auth-btn:active
{
	background-color: #7e5a00;
	border-radius: 5px;
}
