body
{
	min-height: 100vh;
    min-width: 100vw;
	overflow: hidden;
    background: linear-gradient(to top, black, #383838);
}

@font-face
{
    font-family: 'Brandish';
    src: url('/static/fonts/brandish.ttf') format('truetype');
}

.background-container
{
	min-width: 80vh;
    overflow: hidden;
}

.footer
{
    display: flex;
    width: 100%;
    height: 50px; /* Ajustez la hauteur selon vos besoins */
    justify-content: center;
    align-items: center; /* Centrez le texte verticalement */
}

.footer p
{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px; /* Utilisez des unités relatives pour une meilleure adaptabilité */
}

.content
{
    width: 100%;
    height: 100%;
    overflow-y: auto;
	overflow-x: hidden;
}
