.profile-container
{
    width: 100%;
    color: white;
    margin-top: 2rem; /* Réduit à 2rem */
    margin-bottom: 2rem; /* Réduit à 2rem */
    border-radius: 20px;
    padding: 1rem; /* Ajusté à 1rem pour l'uniformité */
    overflow-x: hidden; /* Pour éviter le débordement horizontal */
}

.profile-container h2
{
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem; /* Légèrement réduit */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.profile-container p, .profile-container .form-control, .profile-container button {
    font-size: 1rem; /* Uniformise la taille de la police pour la lisibilité */
    width: 100%; /* Assure que les éléments s'adaptent à leur conteneur */
    margin: 0.5rem 0; /* Ajuste les marges pour un espacement uniforme */
}

.profile-container .row
{
    margin: 2rem 0; /* Réduit et unifié les marges des rows */
}
