body
{
	background-color: #FFB800;
}

h1
{
	color: black;
	font-size: 128px;
	font-family: 'Brandish', sans-serif;
}

.row
{
	justify-content: center;
}

/* .container
{
	border: 2px solid red;
} */

.chatbox
{
	display: flex;
	flex-direction: column;
	width: 30vh;
	height: 50vh;
	background-color: grey;
	border: 4px solid black;
}

.messages
{
	display: flex;
	flex-direction: column;
	background-color: white;
	border: 16px solid grey;
    flex: 1;	/* Permet de faire en sorte que la div prenne toute la place disponible */
    overflow-y: auto; /* Permet de faire défiler les messages si nécessaire */
    padding: 20px;
}

.chatbox-input
{
	padding: 20px;
}