@font-face
{
	font-family: 'Fugaz One';
	src: url('/static/fonts/FugazOne-Regular.ttf') format('truetype');
}

.tournament-bracket
{
	background-color: #FFB800;
	min-width: 1200px;
	border: none;
	border-radius: 16px;
	margin-top: 40px;
	margin-bottom: 40px;
}

.tournament-bracket h2
{
	font-family: 'Fugaz One';
	font-size: 40px;
	color: #5a2b00;
	text-align: center;
	margin: 20px;
}

.tournament-bracket .match
{
    display: flex;
    flex-direction: column;
	background-color: #5a2b00;
	border: 6px solid #432100;
	font-family: 'Fugaz One';
	color: white;
    align-items: center;
	justify-content: space-around;
	height: 150px;
	min-width: 200px;
    margin: 20px;
	border-radius: 8px;
	box-shadow: 0 15px 20px black;
}

.tournament-bracket .vertical-line
{
    border-left: 2px solid black;
    height: 100px;
	margin-bottom: 10px;
}

.tournament-bracket hr
{
	border: 2px solid black;
	width: 100%;
}


.create-tournament-overlay {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.overlay-content {
    position: relative;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    border-radius: 10px;
}

#playerResults {
    margin-top: 10px;
}
