@font-face
{
	font-family: 'Silkscreen Bold';
	src: url('/static/fonts/Silkscreen-Bold.ttf') format('truetype');
}

@font-face
{
	font-family: 'Fugaz One';
	src: url('/static/fonts/FugazOne-Regular.ttf') format('truetype');
}

.friendList
{
	height: 350px;
	padding: 10px;
	border-radius: 0px 0px 8px 8px;
	background-color: #FFB800;
	overflow-y: auto;
}

.friendList .user
{
	display: flex;
	flex-direction: row;
	font-family: 'Fugaz One';
	font-size: large;
	color: white;
	border-radius: 8px;
	background-color: #0000004c;
	padding: 8px;
	width: auto;
	margin-bottom: 10px;
}

.friendList .user img
{
	width: 32px;
	height: 32px;
	border-radius: 50%;
	margin-right: 10px;
}

.friendList .dropdown-toggle
{
    display: flex;
    align-items: center;
	width: 100%
}

.friendList .dropdown-toggle::after
{
    display: none;
	visibility: hidden;
}


.friendList .dropdown-menu
{
	background-color: #FFB800;
	border: 8px solid black;
	border-radius: 20px;
	margin-top: 30px;
	padding: 8px;
}

.friendList .dropdown-item
{
	color: rgb(0, 0, 0);
	border: none;
	font-family: 'Fugaz One';
	font-size: large;
	border-radius: 8px;
	cursor: pointer;
	margin-bottom: 8px;
}

.friendList .dropdown-item:hover
{
	background-color: #cb9100;
}


.friendList .dangerBtn
{
	display: flex;
	justify-content: flex-end;
	color: white;
	background-color: #ff0000;
}

.friendList .dangerBtn:hover
{
	background-color: #c30000;
}

.friendList .dropdown-divider
{
	border-top: 1px solid black;
}

