
body {
	margin: 0;
}

.content {
	overflow: hidden;
}

@font-face {
	font-family: 'Pong Font';
	src: url(../fonts/PONG-Regular.otf);
  }

.score {
	display: flex;
	transition: opacity .2s ease-in-out;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 5vh;
	font-size: calc(4vh + 4vw);
	font-family: 'Pong Font', sans-serif;
	color: #FFFFFFFF;
	z-index: 2;
	opacity: 0;
}

#game
{
	position: relative;
	margin: 0 auto;
	margin-top: 5vh;
	width: 90vw;
	height: 75vh;
}

#canvas {
	position: relative;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border-radius: 40px;
}

#filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 0.5);
    pointer-events: none;
}

#filter, #endScreen {
	transition: opacity .6s ease-in-out;
	opacity: 0;
}

#endScreen {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #000000FF;
	border-radius: 20px;
	padding: 30px;
	font-size: calc(2vh + 2vw);
	color: white;
	font-family: 'Courier New', Courier, monospace;
	text-align: center;
	z-index: 3;
}

#game .tutorial .player1
{
	color: #FFB800;
}

#game .tutorial .player2
{
	color: #E34400;
}

#game .score
{
	margin: 0 auto;
	margin-left: 60px;
}
