@font-face {
    font-family: 'Silkscreen Bold';
    src: url('/static/fonts/Silkscreen-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Fugaz One';
    src: url('/static/fonts/FugazOne-Regular.ttf') format('truetype');
}

.dashboard-section{
	background-color: rgb(24, 24, 24);
}

.dashboard-section h2 {
    font-family: 'Fugaz One', sans-serif;
}

.dashboard-section hr {
    border: 2px solid #ffffff;
    border-radius: 10px;
}

.search-bar .btn, .search-results .btn {
    font-family: 'Trebuchet MS', sans-serif;
}

.friend .friendProfile p {
    font-family: 'Silkscreen Bold', sans-serif;
    color: rgb(0, 240, 0);
}
