.stats
{
    color: white;
    margin: 0 auto;
    height: 700px;
    padding: 100px;
    padding-top: 0px;
}

.stats h1
{
    color: white;
    margin: 20px;
}

.stats #gameHistory, .stats #tournamentHistory
{
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

.stats .card
{
    color: white;
    background-color: rgb(24, 24, 24);
    margin: 20px;
}

.stats .col
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.stats .game-card
{
    background-color: beige;
    color: black;
}

.stats .graph-container
{
    height: 200px;
    width: 50px;
    border: 1px solid #000000;
    position: relative;
    background-color: beige;
}

.stats .column
{
    background-color: #FFB800;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.stats .vr
{
    border-left: 1px solid black;
    height: 100px; /* Hauteur de la ligne verticale */
    margin: 0 10px; /* Marge à gauche et à droite de la ligne verticale */
}
  