.chatbox
{
	position: fixed;
	bottom: 0;
	right: 0;
	width: 400px;
	margin-right: 40px;
}

.chatbox .btn-group-vertical
{
	width: 100%;
}

.chatbox .collapseBtn
{
    font-family: 'Fugaz One';
    font-size: 25px;
    text-align: left;
    background-color: black;
    transition: background-color 0.3s; /* Ajoute une transition sur la couleur de fond */
	border-radius: 8px;
	padding: 10px;
	padding-bottom: 0;
	border: none;
	outline: none;
    box-shadow: none;
}

.chatbox .collapseBtn .container-fluid
{
	background-color: #FFB800;
	color: white;
	border-radius: 8px 8px 0px 0px;
	padding: 5px;
	border: none;
}

.chatbox .collapseBtn:hover
{
    background: linear-gradient(#333, black);
	border: none;
	outline: none;
}

.chatbox .collapse
{
	width: 100%;
	background-color: black;
	padding: 10px;
	padding-top: 0px;
}

.chatbox .chatIcon
{
	height: 25px;
	margin: 5px;
}
