.messageBox
{
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Répartit l'espace entre les éléments */
    height: 350px;
    background-color: rgb(32, 32, 32);
    color: white;
    padding: 10px;
    box-sizing: border-box;
    position: relative; /* Assure que le positionnement absolu du bouton retour fonctionne correctement */
}

.messageBox .backBtn
{
    border: none;
    cursor: pointer;
    outline: none;
    margin-left: auto; /* Déplace le bouton vers la droite */
	background: none;
}

.messageBox .backBtn img
{
	height: 30px;
}

.messageBox .form-control
{
    flex-grow: 1;
    background-color: rgb(225, 225, 225);
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: none;
}

.messageBox .sendBtn
{
    padding: 6px 12px;
    color: black;
    font-family: 'Fugaz One';
    font-weight: bold;
    background-color: #FFB800;
    border: none;
    border-radius: 4px;
    box-shadow: none;
    cursor: pointer;
    margin-left: 10px;
}

.messageBox .message-form
{
    display: flex;
    width: 100%;
    align-items: center; /* Pour aligner les éléments verticalement */
}
