.messageBox
{
	background-color: rgb(32, 32, 32);
	color: white;
	width: 100%;
	height: 300px;
	overflow: auto;
	overflow-wrap: break-word;
	border: none;
}

.messageBox .form-control
{
	background-color: rgb(225, 225, 225);
	border: none;
	border-radius: 0px;
	box-shadow: none;
}

.messageBox .sendBtn
{
	width: 30%;
	color: black;
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
	background-color: #FFB800;
	border: none;
	border-radius: 0px;
	box-shadow: none;
}
