{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Born2Pong</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/auth/auth.css' %}">
</head>
<body>

    <!-- Container principal -->
    <div class="background-container">

        <!-- Header -->
        <header class="header">
            <h1>Born2Pong</h1>
        </header>

        <!-- Contenu principal -->
        <div class="content">
            <div id="content"><!-- Contenu injecté dynamiquement --></div>
        </div>

        <!-- Footer -->
        <footer class="footer">
            <p>&copy; 2024 - Born2Pong</p>
        </footer>

    </div>

    <!-- Scripts -->
    <script src="{% static 'js/main.js' %}"></script>

</body>
</html>