{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transcendence PONG</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>
	<header class="container">
		<div class="row">
			<div class="col-auto">
				<h1>PONG</h1>
			</div>
		</div>
	</header>

    <button id="loginBtn" data-content="/auth/login/" data-script="{% static 'js/login.js' %}">Login</button>
    <button id="registerBtn" data-content="/auth/register/" data-script="{% static 'js/register.js' %}">Register</button>
    
    <div id="content"></div>
    
    <script src="{% static 'js/main.js' %}"></script>

</body>
</html>
